</main>

<section>
    <footer>
        <p>Copyright © <span id="year"></span></p>
    </footer>

    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
</section>

</body>
</html>