<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
    <title>Xnote</title>
</head>

<header>
    
    <nav id="navbar">
        <a href="/" class="logo">Xnote</a>
        <ul class="navbar-nav">
            <% if ( locals.message === true ) { %>
                <li class="nav-item">
                    <a href="/logout">logout</a>
                </li>
                <li class="nav-item">
                    <a href="/">home</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/signup">signup</a>
                </li>
                <li class="nav-item">
                    <a href="/login">login</a>
                </li>
                <li class="nav-item">
                    <a href="/">home</a>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<body>
<main>